{% extends 'base.twig' %}

{% block title %}Ajouter un nouveau pneu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau pneu</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label for="photo_files">Photos</label>
        <input type="file" id="photo_files" name="photo_files[]" multiple>
    </div>

    <button class="btn">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
