<li class="block-brands__item">
	<a class="block-brands__item-link">
		<img src="{{ asset('images/brands/' ~ name ~ '.png') }}" alt="{{ name }} logo">
		<span class="block-brands__item-name">{{ name }}</span>
	</a>
</li>
<li class="block-brands__divider" role="presentation"></li>