<div class="block-teammates__item teammate">
    <div class="teammate__avatar">
        <img src="{{ asset('images/teammates/'~name~'.jpg') }}" alt="{{ name }}">
    </div>
    <div class="teammate__info">
        <div class="teammate__name">{{ name }}</div>
        <div class="teammate__position">{{ occupation }}</div>
    </div>
</div>