{% extends 'base.twig' %}

{% block title %} - About Us{% endblock %}

{% block body %}
    <div class="about">
        <div class="about__body">
            <div class="about__image">
                <div class="about__image-bg" style="background-image: url('{{ asset('images/about.jpg') }}');"></div>
                <div class="decor about__image-decor decor--type--bottom">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
            </div>
            <div class="about__card">
                <div class="about__card-title">About Us</div>
                <div class="about__card-text">
                    Rwayed is a premier automotive solutions provider, specializing in top-quality tires and expert car repair services. Committed to excellence and customer satisfaction, Rwayed has earned a stellar reputation in the industry. Leveraging years of experience, we guarantee every customer receives tailored solutions of the highest caliber. Discover the Rwayed difference, where quality seamlessly merges with reliability.
                </div>
                <div class="about__card-author">KHADIRI Issam, CEO Rwayed</div>
                <div class="about__card-signature">
                    <img src="images/signature.jpg" width="160" height="55" alt="">
                </div>
            </div>
            <div class="about__indicators">
                <div class="about__indicators-body">
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">10 +</div>
                        <div class="about__indicators-item-title">Years of expertise</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">800 +</div>
                        <div class="about__indicators-item-title">Tires to choose from</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">5 000 +</div>
                        <div class="about__indicators-item-title">Satisfied customers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-xl"></div>
    <div class="block block-teammates">
        <div class="container container--max--xl">
            <div class="block-teammates__title">Professional Team</div>
            <div class="block-teammates__subtitle">This is our professional team.</div>
            <div class="block-teammates__list">
                <div class="owl-carousel">
                    <div class="block-teammates__item teammate">
                        <div class="teammate__avatar">
                            <img src="images/teammates/ABBAOUI Khalil.jpg" alt="">
                        </div>
                        <div class="teammate__info">
                            <div class="teammate__name">ABBAOUI Khalil</div>
                            <div class="teammate__position">Engineer</div>
                        </div>
                    </div>
                    <div class="block-teammates__item teammate">
                        <div class="teammate__avatar">
                            <img src="images/teammates/HASHAS Jad El Mawla.jpg" alt="">
                        </div>
                        <div class="teammate__info">
                            <div class="teammate__name">HASHAS Jad El Mawla</div>
                            <div class="teammate__position">Engineer</div>
                        </div>
                    </div>
                    <div class="block-teammates__item teammate">
                        <div class="teammate__avatar">
                            <img src="images/teammates/MEZIANI Youssef.jpg" alt="">
                        </div>
                        <div class="teammate__info">
                            <div class="teammate__name">MEZIANI Youssef</div>
                            <div class="teammate__position">Engineer</div>
                        </div>
                    </div>
                    <div class="block-teammates__item teammate">
                        <div class="teammate__avatar">
                            <img src="images/teammates/BENNANI DOSSE Omar.jpg" alt="">
                        </div>
                        <div class="teammate__info">
                            <div class="teammate__name">BENNANI DOSSE Omar</div>
                            <div class="teammate__position">Engineer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-xl"></div>
    <div class="block block-reviews">
        <div class="container">
            <div class="block-reviews__title">Testimonials</div>
            <div class="block-reviews__subtitle">During our work we have accumulated<br>hundreds of positive reviews.</div>
            <div class="block-reviews__list">
                <div class="owl-carousel">
                    <div class="block-reviews__item">
                        <div class="block-reviews__item-avatar">
                            <img src="images/testimonials/testimonial-1.jpg" alt="">
                        </div>
                        <div class="block-reviews__item-content">
                            <div class="block-reviews__item-text">Rwayed exceeded my expectations! Their tire selection is top-notch, and the repair service was quick and efficient. I highly recommend them to anyone looking for quality automotive solutions.</div>
                            <div class="block-reviews__item-meta">
                                <div class="block-reviews__item-rating">
                                    <div class="rating">
                                        <div class="rating__body">
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-reviews__item-author">
                                    Fatima El Amrani, Engineer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-reviews__item">
                        <div class="block-reviews__item-avatar">
                            <img src="images/testimonials/testimonial-2.jpg" alt="">
                        </div>
                        <div class="block-reviews__item-content">
                            <div class="block-reviews__item-text">I've been a loyal customer of Rwayed for years, and they never disappoint. Their staff is friendly, knowledgeable, and always willing to go the extra mile. Trust me, you won't regret choosing Rwayed for all your automotive needs!</div>
                            <div class="block-reviews__item-meta">
                                <div class="block-reviews__item-rating">
                                    <div class="rating">
                                        <div class="rating__body">
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-reviews__item-author">
                                    Ahmed Ben Salah, Business Owner
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-reviews__item">
                        <div class="block-reviews__item-avatar">
                            <img src="images/testimonials/testimonial-3.jpg" alt="">
                        </div>
                        <div class="block-reviews__item-content">
                            <div class="block-reviews__item-text">Finding a reliable tire shop can be daunting, but Rwayed made it easy. From their wide range of products to their expert advice, I couldn't be happier with my experience. Rwayed is definitely my go-to for everything automotive!</div>
                            <div class="block-reviews__item-meta">
                                <div class="block-reviews__item-rating">
                                    <div class="rating">
                                        <div class="rating__body">
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                            <div class="rating__star rating__star--active"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-reviews__item-author">
                                    Jamal El Haddadi, Driver
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}