{% extends 'base.twig' %}

{% block title %} - About Us{% endblock %}

{% block body %}
    <div class="about">
        <div class="about__body">
            <div class="about__image">
                <div class="about__image-bg" style="background-image: url('{{ asset('images/about.jpg') }}');"></div>
                <div class="decor about__image-decor decor--type--bottom">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
            </div>
            <div class="about__card">
                <div class="about__card-title">About Us</div>
                <div class="about__card-text">
                    Rwayed is a premier automotive solutions provider, specializing in top-quality tires and expert car repair services. Committed to excellence and customer satisfaction, Rwayed has earned a stellar reputation in the industry. Leveraging years of experience, we guarantee every customer receives tailored solutions of the highest caliber. Discover the Rwayed difference, where quality seamlessly merges with reliability.
                </div>
                <div class="about__card-author">KHADIRI Issam, CEO Rwayed</div>
                <div class="about__card-signature">
                    <img src="images/signature.jpg" width="160" height="55" alt="">
                </div>
            </div>
            <div class="about__indicators">
                <div class="about__indicators-body">
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">10 +</div>
                        <div class="about__indicators-item-title">Years of expertise</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">800 +</div>
                        <div class="about__indicators-item-title">Tires to choose from</div>
                    </div>
                    <div class="about__indicators-item">
                        <div class="about__indicators-item-value">5 000 +</div>
                        <div class="about__indicators-item-title">Satisfied customers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-xl"></div>
    <div class="block block-teammates">
        <div class="container container--max--xl">
            <div class="block-teammates__title">Professional Team</div>
            <div class="block-teammates__subtitle">This is our professional team.</div>
            <div class="block-teammates__list">
                <div class="owl-carousel">
                    {% include 'partials/_team-member.twig' with {name: 'ABBAOUI Khalil', occupation: 'Engineer'} %}
                    {% include 'partials/_team-member.twig' with {name: 'HASHAS Jad El Mawla', occupation: 'Engineer'} %}
                    {% include 'partials/_team-member.twig' with {name: 'MEZIANI Youssef', occupation: 'Engineer'} %}
                    {% include 'partials/_team-member.twig' with {name: 'BENNANI DOSSE Omar', occupation: 'Engineer'} %}
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-xl"></div>
    <div class="block block-reviews">
        <div class="container">
            <div class="block-reviews__title">Testimonials</div>
            <div class="block-reviews__subtitle">During our work we have accumulated<br>hundreds of positive reviews.</div>
            <div class="block-reviews__list">
                <div class="owl-carousel">
                    {% include 'partials/_testimonial.twig' with {name: 'Fatima El Amrani', occupation: 'Engineer', message: "Rwayed exceeded my expectations! Their tire selection is top-notch, and the repair service was quick and efficient. I highly recommend them to anyone looking for quality automotive solutions.", stars: 5} %}
                    {% include 'partials/_testimonial.twig' with {name: 'Ahmed Ben Salah', occupation: 'Business Owner', message: "I've been a loyal customer of Rwayed for years, and they never disappoint. Their staff is friendly, knowledgeable, and always willing to go the extra mile. Trust me, you won't regret choosing Rwayed for all your automotive needs!", stars: 4} %}
                    {% include 'partials/_testimonial.twig' with {name: 'Jamal El Haddadi', occupation: 'Driver', message: "Finding a reliable tire shop can be daunting, but Rwayed made it easy. From their wide range of products to their expert advice, I couldn't be happier with my experience. Rwayed is definitely my go-to for everything automotive!", stars: 5} %}
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}