{% extends 'base.twig' %}

{% block title %} - Cart{% endblock %}

{% block body %}
    <!-- site__body -->
    <div class="site__body">
        <div class="block-header block-header--has-breadcrumb block-header--has-title">
            <div class="container">
                <div class="block-header__body">
                    <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb__list">
                            <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                            <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                                <a href="{{ url('home') }}" class="breadcrumb__item-link">Home</a>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                                <span class="breadcrumb__item-link">Cart</span>
                            </li>
                            <li class="breadcrumb__title-safe-area" role="presentation"></li>
                        </ol>
                    </nav>
                    <h1 class="block-header__title">Shopping Cart</h1>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="cart">
                    <div class="cart__table cart-table">
                        <table class="cart-table__table">
                            <thead class="cart-table__head">
                            <tr class="cart-table__row">
                                <th class="cart-table__column cart-table__column--image">Image</th>
                                <th class="cart-table__column cart-table__column--product">Product</th>
                                <th class="cart-table__column cart-table__column--price">Price</th>
                                <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                                <th class="cart-table__column cart-table__column--total">Total</th>
                                <th class="cart-table__column cart-table__column--remove"></th>
                            </tr>
                            </thead>
                            <tbody class="cart-table__body">
                                {% include 'partials/_cart-item.twig' with {price: 299.99, quantity: 2} %}
                                {% include 'partials/_cart-item.twig' with {price: 299.99, quantity: 2} %}
                                {% include 'partials/_cart-item.twig' with {price: 299.99, quantity: 2} %}
                            </tbody>
                            <tfoot class="cart-table__foot">
                            <tr>
                                <td colspan="6">
                                    <div class="cart-table__actions">
                                        <form class="cart-table__coupon-form form-row">
                                            <div class="form-group mb-0 col flex-grow-1">
                                                <input type="text" class="form-control form-control-sm" placeholder="Coupon Code">
                                            </div>
                                            <div class="form-group mb-0 col-auto">
                                                <button type="button" class="btn btn-sm btn-primary">Apply Coupon</button>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="cart__totals">
                        <div class="card">
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Cart Totals</h3>
                                <table class="cart__totals-table">
                                    <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>0.00 DH</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>
                                            0.00 DH
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td>0.00 DH</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <td>0.00 DH</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <a class="btn btn-primary btn-xl btn-block" href="{{ url('checkout') }}">
                                    Proceed to checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
    </div>
    <!-- site__body / end -->
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get all quantity input fields
            var quantityInputs = document.querySelectorAll('.cart-table__column--quantity input');

            // Function to calculate total for a row
            function calculateTotalForRow(input) {
                var row = input.closest('.cart-table__row');
                var price = parseFloat(row.querySelector('.cart-table__column--price').textContent.replace(' DH', ''));
                var quantity = parseInt(input.value);
                var total = price * quantity;
                row.querySelector('.cart-table__column--total').textContent = total.toFixed(2) + ' DH';
            }

            // Calculate total for each row when the page loads
            quantityInputs.forEach(function(input) {
                calculateTotalForRow(input);
            });

            // Attach event listener to each quantity input field
            quantityInputs.forEach(function(input) {
                input.addEventListener('change', function() {
                    calculateTotalForRow(input);
                    calculateSubTotal();
                    calculateTotals();
                });
            });



            // Define the tax rate in Morocco
            var taxRate = 0.2;

            // Get the subtotal and total elements
            var subtotalElement = document.querySelector('.cart__totals-table thead tr:first-child td');
            var taxElement = document.querySelector('.cart__totals-table tbody tr:last-child td');
            var totalElement = document.querySelector('.cart__totals-table tfoot td');

            function calculateSubTotal() {
                var subtotal = 0;
                var totalElements = document.querySelectorAll('td.cart-table__column--total');
                // Iterate through each item and add its total to the subtotal
                totalElements.forEach(function(totalElement) {
                    subtotal += parseFloat(totalElement.textContent.replace(' DH', ''));
                });
                document.querySelector('.cart__totals-table thead tr:first-child td').textContent = subtotal.toFixed(2) + ' DH';
            }

            calculateSubTotal();

            // Function to calculate totals
            function calculateTotals() {
                // Parse the subtotal value
                var subtotal = parseFloat(subtotalElement.textContent.replace(' DH', '').replace(',', ''));

                // Calculate the tax amount
                var tax = (subtotal * taxRate).toFixed(2);

                // Update the tax element
                taxElement.textContent = tax + ' DH';

                // Calculate the total including tax
                var total = subtotal + parseFloat(tax);

                // Update the total element
                totalElement.textContent = total.toLocaleString('en-US', { minimumFractionDigits: 2 }) + ' DH';
            }

            // Calculate totals when the page loads
            calculateTotals();
        });
    </script>
{% endblock %}