{% extends 'base.twig' %}

{% block title %} - FAQ{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--spaceship-ledge-height"></div>
    <div class="block faq">
        <div class="container container--max--xl">
            <div class="faq__header">
                <h1 class="faq__header-title">Frequently Asked Questions</h1>
            </div>
            <div class="faq__section">
                <h3 class="faq__section-title">Shipping Information</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">What shipping methods are available?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    At Rwayed, we offer standard and express shipping options for your convenience. Standard shipping typically takes 3-5 business days, while express shipping delivers within 1-2 business days.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">Do you ship internationally?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Currently, we only ship within Morocco. However, we are exploring international shipping options and hope to offer this service in the future.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How might I obtain an estimated date of delivery?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Once your order is processed, you will receive a confirmation email with tracking information. You can use this information to monitor the status of your shipment and obtain an estimated delivery date.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">Can I split my order to ship to different locations?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Unfortunately, we cannot split orders to ship to different locations. Each order must have a single shipping address specified at the time of purchase.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__section">
                <h3 class="faq__section-title">Payment Information</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">What payments methods are available?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    We accept various payment methods, including credit/debit cards, bank transfers, and cash on delivery (COD). Choose the option that suits you best at checkout.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">Can I split my payment?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Currently, we do not offer the option to split payments. However, we are constantly updating our payment methods to better serve our customers' needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__section">
                <h3 class="faq__section-title">Orders and Returns</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I return or exchange an item?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    If you're not satisfied with your purchase, you can return or exchange it within 30 days of delivery. Please contact our customer service team for assistance with the return process.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I cancel an order?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    To cancel an order, please contact us as soon as possible. If your order has not yet been processed, we will cancel it and issue a refund. However, if the order has already been shipped, you will need to follow our return process upon receipt of the items.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How can I track my order?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Once your order has been shipped, you will receive a tracking number via email. You can use this number to track your package online and monitor its delivery status.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">What should I do if my order arrives damaged?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    In the unlikely event that your order arrives damaged, please contact our customer service team immediately. We will work with you to resolve the issue and ensure your satisfaction.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__footer">
                <div class="faq__footer-title">Still Have Questions?</div>
                <div class="faq__footer-subtitle">We will be happy to answer any questions you may have.</div>
                <a href="{{ path('contact') }}" class="btn btn-primary">Contact Us</a><span class="px-4">Or</span>
                <a onclick="document.body.classList.toggle('show-chatbot');" class="btn btn-primary text-white">Ask AI</a>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}